body {
    font-size: 14pt;
    line-height: 140%;
    font-family: 'Century Gothic', sans-serif;
    color: #dfcca8;
    background-color: #222222;
    padding-bottom: 20px;
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #222222;
  }
}

a:any-link {
  color: #08c;
  text-decoration: none;
}

a:hover {
  color: #164e69;
  text-decoration: underline;
}

#white-btn {
    background-color: #592525;
    border: none;
    border-radius: 50%;
    color: #2e8b52;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    width: 40px;
  }
  
  #white-btn:hover {
    background-color: #cccccc;
  }



/* -------  Start --------- */
/* This is a slider button initially used to toggle background color */
/* ---- */
  .switch input[type=checkbox] {
    visibility: hidden;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  .switch input[type=checkbox]:checked + .slider {
    background-color: #222222;
  }
  
  .switch input[type=checkbox]:focus + .slider {
    box-shadow: 0 0 1px #222222;
  }
  
  .switch input[type=checkbox]:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

/* ---- */
/* This is a slider button initially used to toggle background color */
/* -------  End --------- */



/* -------  Start --------- */
/* This is the NAV bar */
/* ---- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color:#dfcca8;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: #333;
  color:#dfcca8;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px; 
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 4px 1px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 480px) {
  /* This will apply the following styles for screens with a maximum width of 480px */
  .dropdown-content {
  display: block;
  position: static;
  background-color: #f1f1f1;
  width: 100%;
  max-width: 200px;
  padding: 0;
  }
  .dropdown-content a {
  display: block;
  text-align: left;
  }
  .dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  }
  .dropbtn {
  font-size: 16px;
  }
  }

.title {
  font-size: 20px;
  font-weight: normal;
  color:#dfcca8;
}

.clock {
  font-size: 20px;
  font-weight: normal;
  color:#dfcca8;
}


/* ---- */
/* This is the NAV bar */
/* -------  End --------- */  