/* 
Theme Name:		 MinimalistBlogger-child
Theme URI:		 http://childtheme-generator.com/
Description:	 MinimalistBlogger-child is a child theme of MinimalistBlogger, created by ChildTheme-Generator.com
Author:			 manliusracingleague
Author URI:		 http://childtheme-generator.com/
Template:		 minimalistblogger
Version:		 1.0.0
Text Domain:	 minimalistblogger-child
*/


/*
    Add your custom styles here

.center {
border: 5px solid #FFFF00;
text-align: center;
}
*/